<a href="https://colab.research.google.com/github/hyejeong1111/T-SUM/blob/main/2_%E1%84%91%E1%85%A1%E1%84%8B%E1%85%B5%E1%84%8A%E1%85%A5%E1%86%AB_%E1%84%90%E1%85%A1%E1%84%8B%E1%85%B5%E1%86%B8_%E1%84%83%E1%85%A1%E1%86%AB%E1%84%8B%E1%85%B5%E1%86%AF%E1%84%83%E1%85%A6%E1%84%8B%E1%85%B5%E1%84%90%E1%85%A5%E1%84%92%E1%85%A7%E1%86%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 원칙

- **파이썬은 코드 작성시 열(세로줄)을 잘 맞춰야 한다**
- 시작 코드는 **맨 앞줄부터 코딩 시작**

# 주석(commnents) <- markdown 형식

In [ ]:
# 1줄 주석
'''
  여러줄 주석, 원래 여러 문자열 표현하는 방식인데 주석으로도 사용한다
'''
"""
  홀따움표, 쌍따움표 3개를 나열해서 세트로 구성
"""

'\n  홀따움표, 쌍따움표 3개를 나열해서 세트로 구성\n'

# 변수

- 데이터를 담는 그릇
- 그릇에 들어있는 데이터는 바뀔수 있다
- 만약에 바꿀수 없다면 <-> 상수(파이썬은 없다)
- 상수는 변수명을 작성할대 무조건 대문자
- 상수가 없기 때문에 상수처럼 변경시도 않함

In [ ]:
# 변수 a에 1을 담는다
# 변수 a는 메모리 상에 존재하는 1의 주소값을 참조한다(가르킨다, 참조한다)
a = 1

# a 에 1일 잘 담겼는지 확인
print( a )
# 대화형 툴은 변수를 그냥 출력해도 결과가 나온다
a

1

1

In [ ]:
a = 3.14
a
# a라는 변수에는 어떤것도 담을수 있다(모든타입, 함수, 클레스) : 참조하는 것이니까
# 이미 정의되어 있는 키워드, 함수명등등은 절대로 변수명으로 사용하면 않된다
# 변수명은 네이밍 룰을 잡아도 되고, 팀별로 정의, 기존것과 겹치지 않게만 주의

3.14

In [ ]:
# 파이썬에서 문장의 끝에는 ;를 생략한다. 단, 넣을수 있다
# ;을 사용한다면 한줄에 여러표현을 하는 것이므로 구분자 역활 담당
a = 2;print( a )

2

# 수치형

In [ ]:
a = 1
# a는 어떤 변수인가? (타입 관점)
# 변수의 타입을 확인하는 내장함수 => type()
type( a )
# 결과를 보니 정수(int) 확인됨

int

In [ ]:
# 부동소수형 => float
a = 3.14
type( a )

float

In [ ]:
# 변수명에 사용 가능한 문자
# a-z, A-Z, _, 각국문자 => 시작문자(첫글자)로 사용 가능
# 두번자 글자부터는 0~9 추가됨
_a = 10
_ = 100
A10 = 9
_a, _, A10

(10, 100, 9)

In [ ]:
#1a = 100 (x)
변수 = 1
변수

1

In [ ]:
# 상수 표현 (실제 상수는 없지만 상수 처럼 표현)
# 상수는 값이 설정된 이래로 변경 불가하다
# 대부분의 언어는 상수를 대문자로 표기한다
MAX_COUNT = 10
MAX_COUNT
# 학습행위시 환경변수, 고정값, 임계값, 학습시 고정한 조건값들등등 변수명으로 활용

10

In [ ]:
a = 1
b = 2

# 데이터가 수치이므로, 연산을 수행할수 있다
# 일반적인 사칙연산, 나머지, 몫을 구하는 연산등등 기본 연산은 동일하게 수행됨
a + b, a-b, a*b, a/b, a//b, a%b

(3, -1, 2, 0.5, 0, 1)

In [ ]:
# 단, 연산자 우선순위라는 것은 있다
print( 1 + 2 * 3 )
# *가 + 보다 우선순위가 높다
# 우선잘 모를 경우 -> ( 그룹화 ) 서열을 올릴수 있다
(1 + 2) * 3

7

9

# 문자열

- 단일 데이터 형이면서, 연속데이터 형이다
  - ex) 'a', 'ab'
- 문자열은 수정 불가
  - 문자열을 수정한다(x), 원본을 카피해서 조작한다(o)
- 표현 기호
  - 한줄 문자열 표기시
    - ' ... '
    - " ... "
  - 여러줄, 주석용, 문자열의 구조를 유지할때
    - ''' .... '''
    - """ .... """

In [ ]:
# 1. 한줄 문자열
a = 'hello 고려대 ABC 123 !@#'
a
# 영소, 영대, 숫자, 특수문자, 한글 => 표현, 출력에 이상없다

'hello 고려대 ABC 123 !@#'

In [ ]:
# 2. 타입 확인
type( a )
# str => 문자열

str

In [ ]:
# 3. 여러줄, 구조유지, 주석용 표현법
# 아래 표현은 DBA가 작성하는 SQL(데이터베이스에서 데이터를 추가/수정/삭제/조회등등.. 처리하는 언어)
# 를 표현한 것이다
a = '''
  select
    *
  from
    users;
'''

In [ ]:
# 여러줄 문자열
a = """
  영국 '풋볼 인사이더'는 3일(한국시간) "에버턴은 1억 2,100만 파운드(약 1,933억 원)의 손실을 기록했다. 에버턴은 현재 끔찍한 재정 상황으로 벼랑 끝에 서있다"라고 보도했다.
  올 시즌 에버턴의 상황이 좋지 않다. 작년 여름 갑작스럽게 팀의 감독이었던 카를로스 안첼로티 감독이 레알 마드리드로 향했고, 후임으로 라파엘 베니테즈 감독이 임명됐다. 급하게 팀을 재건하려 했지만 주축 선수들의 부상으로 제대로 힘을 쓸 수도 없었다.
  결국 에버턴은 부진에 빠졌고, 강등 위기까지 놓였다. 현재 에버턴은 승점 25점(7승 4무 16패)으로 17위에 위치해있다. 18위 왓포드(승점 22점)보다 앞서 있고 3경기나 덜 치렀기 때문에 아직까지 격차를 벌릴 수 있지만, 여유로운 상황은 아니다.
"""

In [ ]:
# 4. 섞어서 표현
# 어떤 우선순위로 문자열이 처리되는가?
# 내부에 ', " 는 기호에 불가
a = 'abc"123"def'
a

'abc"123"def'

In [ ]:
# 동일기호가 계속 나온다면 (오류) -> 이스케이프 문자로 표현
# a = 'abc'123'def' <- 오류
a = 'abc\'123\'def'
a

"abc'123'def"

In [ ]:
# 5. 문자열과 연산기호
a = '123'
b = '456'

# 2개의 문자열의 더해서 새로운 사본 문자열을 생성한 것이다(원본 그대로 유지됨)
# a의 문자열 뒤로 b의 문자열을 이어서 사본을 만든다.
a + b, a, b

('123456', '123', '456')

In [ ]:
# 문자열이 * x 만큼 반복적으로 등장한다
a * 3

'123123123'

## 인덱싱

- 데이터에서 원하는 부분을 추출
- 문자열, 리스트, 튜플, 딕셔너리, 배열, 시리즈, 데이터프레임, 텐서 **연속형 데이터 타입 전부 해당됨**
- 데이터 전처리에 기본 베이스 원리
- 연속데이터 -> 인덱싱 -> 차원**축소**가 발생됨
  - 2차원 리스트 -> 인덱싱 -> 1차원 리스트
  - 문자열은 차원이 없으므로 해당않됨

In [ ]:
a = '0123456789'
# len( 변수 ) : 변수의 개수
a, type(a), len(a)

('0123456789', str, 10)

In [ ]:
# a에서 3이라는 문자열을 추출하시오 -> 인덱싱(추출하라)
# 사용법
# 변수명[ 인덱스(정방향(0,1,2,..), 역방향(-1, -2,..)) ]
# 인덱스는 추출하고자 하는 데이터에 가까운쪽으로 사용(통상)
a[ 3 ]

'3'

In [ ]:
# 9를 추출하시오 a에서 => 문자열에서 한개의 문자 추출 => 인덱싱
a[ -1 ]

'9'

## 슬라이싱

- 원본 데이터에 특정 데이터를 자른다
- 슬라이싱 통해서 추출한 데이터는 원본 데이터와 동일한 차원을 가진다 (차원유지)
  - 데이터 모양(shape)양 달라질뿐, 그 demension(차원)은 유지된다
- 문법
  - 변수[시작인덱스:끝인덱스:간격(step) ]
  - 간격은 생략되면 그냥 1이다

In [ ]:
a

'0123456789'

In [ ]:
# 0123456789
# a[ x:y ] => x<= 값 < y
# 인덱스는 항상 오른쪽값을 취한다, 단 끝인덱스는 경계값이다
a[ 1:3 ]

'12'

In [ ]:
# '12345678' 값으로 출력되게 a를 자르시오
# 처음부터 ~ 끝까지 => copy
print( a[ : ] )

a[ 1 : -1 ], a[ 1 : -1 : 2], a[ -2: ], a[ :2 ]

0123456789

('12345678', '1357', '89', '01')

## 주요 문자열 처리 함수 (문자열 클레스에서 지원하는 함수)

- 문자열.함수()

In [ ]:
# 분해 => split()
# 구분자를 가지고 문자열을 분해하여 개별 요소를 추출/사용 한다
url = 'https://news.naver.com/main/read.naver?mode=LSD&mid=shm&sid1=105&oid=629&aid=0000141098'

# 구분자는 특정 기호(문자)를 기준으로 문자열이 나눠진다면 그것을 구분자라 한다
# 통상, csv 파일일은 구분자를 통해서 작성이 된다(통상 , |, ..)
# 629라는  oid값을 추출하시오?
# 문자열의 함수 split
a = url.split('?')
'''
  [ 'https://news.naver.com/main/read.naver',
    'mode=LSD&mid=shm&sid1=105&oid=629&aid=0000141098']
'''
# 629라는 iod 값을 추출하시오
type( a ), a[ -1 ], a[ -1 ].split('&'), a[ -1 ].split('&')[-2], a[ -1 ].split('&')[-2]

(list,
 'mode=LSD&mid=shm&sid1=105&oid=629&aid=0000141098',
 ['mode=LSD', 'mid=shm', 'sid1=105', 'oid=629', 'aid=0000141098'],
 'oid=629')

In [ ]:
url.split('?')[ -1 ].split('&')[-2].split('=')[-1]

'629'

In [ ]:
# 조인
tmp = list( 'abc' )
tmp

['a', 'b', 'c']

In [ ]:
# 리스트 tmp에 있는 모든 요소를 뭉쳐서 한개의 문자열로 만드시오
# 단, 요소들 사이에 |을 넣어서 구분한다
# 결과물 => 'a|b|c'
'|'.join( tmp )

'a|b|c'

In [ ]:
# 공백 제거 (왼쪽, 오른쪽, 양쪽)
a = '  ab  cd   '
print( '[' + a + ']' )
print( '[' + a.lstrip() + ']' )
print( '[' + a.rstrip() + ']' )
print( '[' + a.strip()  + ']' )
# 문자열 내부에 있는 공백을 제거한다 -> 정규식으로 해결

[  ab  cd   ]
[ab  cd   ]
[  ab  cd]
[ab  cd]

In [ ]:
# 파이썬 버전 확인
# !명령어 => 코랩의 운영체계 => ubuntu 리눅스(OS)에 직접 명령을 전달하여 결과를 확인한것
# 이런 계열을 매직코드~
!python -V

Python 3.7.13

## 포멧팅

- 문자열과 문자열을 결합할때, 특정 데이터를 삽입할때 사용
- Rule
  - '문자열' % ( , , ... )
  - '문자열'.format( , , ...)
  - f'문자열{삽입데이터} ...'
    - fString
    - 파이썬 3.6 이상부터 지원

In [ ]:
# 포멧팅 1 -> 타입을 알아야 한다
a = 1
b = 2
# '1 + 2 = 3' 으로 출력하시오

# %d, %f 등등 반드시 타입을 알거나, 제약해야 한다
'%d + %d = %d' % ( a, b, a+b )

'1 + 2 = 3'

In [ ]:
# 타입이 뭐가 되었던 문자열로 받겠다
'%s + %s = %s' % ( a, b, a+b )

'1 + 2 = 3'

In [ ]:
# 포멧팅 2 -> 포멧팅 1을 개선 => 타입의 제약을 없앴다
'{} + {} = {}'.format( a, b, a+b )

'1 + 2 = 3'

In [ ]:
# 들어가는 순서를 표기
'{0} + {1} = {2}'.format( a, b, a+b )

'1 + 2 = 3'

In [ ]:
# 들어가는 순서를 특정 위치로 옮겨도 된다
'{1} + {0} = {2}'.format( a, b, a+b )

'2 + 1 = 3'

In [ ]:
# 파라미터에 있는데 미사용, 사용한것을 또 사용 -> OK -> 주의
'{1} + {0} = {0}'.format( a, b, a+b )

'2 + 1 = 1'

In [ ]:
# 파라미터(함수의 인자)에 이름을 부여하여 포멧팅의 형식을 구체적으로 표시
'{x} + {y} = {result}'.format( x=a, y=b, result=a+b )

In [ ]:
# fString, 최신 트렌드를 적용하여, 필요한것만 표기
f'{a} + {b} = {a+b}'

'1 + 2 = 3'

In [ ]:
# 자리수 부여
# < : 왼쪽 정렬
# 기본, > : 오른쪽 정렬
# ^ : 중앙 정렬
# *는 공백대신 *로 채운다
f'{a:10} + {b:<10} = {a+b:*^11}'

'         1 + 2          = *****3*****'

In [ ]:
# 대체
'hello'.replace('l', '*')

'he**o'

In [ ]:
# 찾기, 검색
# 찾는 결과가 없으면 -1, 있으면 위치값(인덱스)
# 특정 문자열로 시작하는가?
'abcdefg'.find('b'), 'abcdefg'.find('z'), 'abcdefg'.startswith('ab')

(1, -1, True)

## 정규식(차후 체크) -> 전처리시 사용

# 블린형

- 참 : **True**, 거짓 : **False**
- 블린형은 **조건식의 결과이다(결론이다)**
- 거짓 상황만 기억
  - 조건식에 아래와 같은 값이 단독으로 오면 거짓이다
    - **False, 0, 0.0, '', [], {}, (), None**

# 코드 테스트(2022-0417)

In [ ]:
a = '1'

In [ ]:
# 문자열이 정수인지 체크하는 문자열 지원 함수
a.isnumeric(), '3.14'.isnumeric(), 'abc'.isnumeric(), '가나다'.isnumeric(), '!@'.isnumeric()

(True, False, False, False, False)

In [ ]:
'A'.strip().lower(), 'a'.strip().lower(), '  1Ab!@#@   #가나다   '.strip().lower()

('a', 'a', '1ab!@#@   #가나다')

In [ ]:
answer = 'N'.lower()

not answer or (answer != 'y' and answer != 'n')

False